@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1 class="display-4">Welcome to MovieApp!</h1>
    <p class="lead">This is a comprehensive platform for managing movies.</p>
    <hr class="my-4" />
    <p>As a guest, you can browse through our extensive collection of movies. You can sort and paginate the movie list to find your favorite movies easily.</p>
    <p>To unlock more features, consider creating an account. As a registered user, you can add new movies to our collection, edit existing movie details, and even delete movies if necessary.</p>
</div>
